@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('https://res.cloudinary.com/dtrmjjphv/image/upload/v1701192950/big-data-conceptbinary-code-concept-pattern-big-data-structureabstract-background-technology-cloud-computing-database-protection-secure-transmission-information-blockchain-network_760214-2986_zxptjf.avif');
    background-size: cover;
    overflow: hidden;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    color: #ffffff;
    margin-bottom: 0.5rem;
    display: block;
}

input,
select {
    width: 100%;
    padding: 0.8rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    transition: background 0.3s, box-shadow 0.3s;
}

input:focus,
select:focus {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

select option {
    background: #1f1c2c;
    color: #fff;
}

/* Button styling */
.convert-btn {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.convert-btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.result-wrapper {
    font-size: 1.4rem;
    color: #fff;
    margin-top: 2rem;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .convert-btn {
        font-size: 14px;
    }
}
